.dd-list {
	@include list();

	&__block:not(:last-child) {
		margin-bottom: 20px;
	}

	&__title {
		padding: 20px 30px;
		position: relative;
		cursor: pointer;
		font-size: $font-size-paragraph;

		.icon {
			display: block;
			width: 20px;
			padding-top: 24px;
			margin-top: -12px;
			position: absolute;
			top: 50%;
			right: 30px;
			font-family: FontAwesome;
			font-size: 2.4rem;
			line-height: 1;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transition: .3s all ease;
		}

		.plus {
			opacity: 1;
			transform: rotate(0deg);

			&::before {
				content: "\f067";
				display: block;
				margin-top: -24px;
			}
		}

		.minus {
			opacity: 0;
			transform: rotate(-90deg);

			&::before {
				content: "\f068";
				display: block;
				margin-top: -24px;
			}
		}

		&[data-open="true"] {
			.plus {
				opacity: 0;
				transform: rotate(90deg);
			}

			.minus {
				opacity: 1;
				transform: rotate(0deg);
			}
		}
	}

	&__title-inner {
		display: block;
		padding-right: 25px;
	}

	&__text {
		padding: 0 30px 30px;

		p {
			font-size: $font-size-base;
		}
	}
}
