.block-google-map {
	&__map {
		@include size(100%, 400px);
	}

	&__directions-label {
		display: block;
		margin-bottom: 5px;
	}

	&__inputs {
		display: flex;

		input[type="text"] {
			flex-grow: 1;
			width: 100%;
		}

		input[type="submit"] {
			flex-shrink: 0;
		}
	}
}
