@import "../blocks/accordion";
@import "../blocks/content-image";
@import "../blocks/content-three-columns";
@import "../blocks/content-two-columns";
@import "../blocks/content";
@import "../blocks/full-screen-image";
@import "../blocks/gallery";
@import "../blocks/google-map";
@import "../blocks/latest-posts";
@import "../blocks/parallax";
@import "../blocks/slider-image";
@import "../blocks/slider-text";
@import "../blocks/slider-video";
@import "../blocks/video";

.spacing-inside {
	padding-top: 40px;
	padding-bottom: 40px;
}

.spacing-outside {
	margin-top: 40px;
	margin-bottom: 40px;
}

.spacing-both {
	@extend .spacing-inside;
	@extend .spacing-outside;
}

.spacing-inside-top {
	padding-top: 40px;
}

.spacing-inside-bottom {
	padding-bottom: 40px;
}

.spacing-outside-top {
	margin-top: 40px;
}

.spacing-outside-bottom {
	margin-bottom: 40px;
}

.spacing-both-top {
	@extend .spacing-inside-top;
	@extend .spacing-outside-top;
}

.spacing-both-bottom {
	@extend .spacing-inside-bottom;
	@extend .spacing-outside-bottom;
}

.block-404 {
	padding: 50px 0 100px;

	h1 {
		display: flex;
		align-items: center;

		.fa {
			margin-right: 25px;
			color: $palette-red;
		}
	}
}
