.button {
	display: inline-block;
	background: $palette-grey-dark;
	padding: 5px 10px;
	cursor: pointer;
	font-size: $font-size-button;
	text-align: center;
	color: $palette-white;

	&:hover {
		background: $palette-black;
		color: $palette-white;
	}
}
