.comments {
	margin-top: 40px;

	&__list {
		@include list();
		margin-bottom: 30px;

		li {
			padding: 0;
		}

		.children {
			@include list();
			padding-left: 30px;
		}
	}

	@media (max-width: 767px) {
		.children {
			padding-left: 15px;
		}
	}
}

.comment {
	margin: 20px 0 0;

	&__header {
		display: flex;
	}

	&__meta {
		font-size: $font-size-small;
		color: $palette-black;

		a {
			color: $palette-black;
		}
	}

	&__author {
		display: flex;
		order: -1;
		flex-grow: 1;
		align-items: center;
		margin-bottom: 20px;
		line-height: 48px;

		img {
			flex-shrink: 0;
			display: block;
			margin-right: 10px;
			border-radius: 50%;
		}

		cite,
		span {
			line-height: 1.4;
		}
	}

	&__body {
		margin-bottom: 20px;

		p {
			font-size: $font-size-base;
		}
	}

	&__reply {
		text-align: right;

		a {
			@extend .button;
			font-size: $font-size-small;
		}
	}

	@media (max-width: 767px) {
		&__header {
			flex-wrap: wrap;
		}

		&__meta {
			width: 100%;
			margin-bottom: 15px;
		}

		&__author {
			order: initial;
			width: 100%;
		}

		&__body {
			p {
				font-size: $font-size-small;
			}
		}
	}
}

.comment-form {
	label {
		display: block;
		margin-bottom: 5px;
	}

	textarea,
	input:not([type="submit"]) {
		display: block;
		width: 100%;
	}

	textarea {
		padding: 10px;
	}
}

.comment-reply-title {
	small  {
		font-size: $font-size-small;
	}
}
