.search-form {
	display: flex;
	margin-bottom: 40px;

	.sidebar & {
		margin: 0;

		input {
			border: none;
			font-size: $font-size-base;
		}
	}

	&__input {
		flex-grow: 1;
		width: 100%;
		padding: 0 10px;
		border: 2px solid $palette-grey;
		font-size: $font-size-paragraph;
	}

	&__submit {
		flex-shrink: 0;
		min-width: 40px;
		padding: 0;
		font-size: 2rem;
		line-height: 40px;
	}

	@media (max-width: 1024px) {
		margin-right: 0;
	}
}
