.cookie-bar {
	display: none;
	background: $palette-primary;
	width: 100%;
	padding: 10px 2.5%;
	position: fixed;
	bottom: 0;
	z-index: 999999;
	font-size: $font-size-base;
	text-align: center;
	color: $palette-white;

	&__close {
		background: $palette-red;
		border-radius: 5px;
		margin-left: 20px;
		font-size: $font-size-base;
		text-align: center;
		color: $palette-white;

		&:hover {
			background: darken($palette-red, 10%);
		}
	}
}
