.footer {
	padding: 30px 0;
	text-align: center;
	color: $palette-white;

	&__nav {
		margin-bottom: 30px;

		ul {
			@include list();
			text-align: left;

			li  {
				a {
					color: $palette-grey-light;
				}

				.sub-menu {
					padding-left: 10px;
				}
			}
		}
	}

	&__copy {
		font-size: $font-size-tiny;
	}
}
