.header {
	background: $palette-grey-dark;
	text-align: center;

	&--fixed {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1002;
	}

	&__main {
		padding: 20px 0;
	}

	&__logo,
	.custom-logo-link {
		display: block;
		max-width: 300px;
		margin: 0 auto;

		img {
			display: block;
		}
	}

	&__nav {
		background: $palette-grey;

		&[data-fixed="true"] {
			width: 100%;
			max-width: 100%;
			margin: 0;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1002;

			ul {
				max-width: 940px;
				margin: 0 auto;
			}
		}

		.container {
			flex-direction: row;
			justify-content: center;
		}

		a {
			display: inline-block;
			padding: 8px 11px;
			text-decoration: none;
			color: $palette-white;
		}

		ul {
			display: flex;
		}

		li {
			display: inline-block;
			padding: 0;
			margin: 0;
			position: relative;

			&:hover {
				> a {
					background: $palette-black;
					color: $palette-white;
				}

				> .sub-menu {
					display: block;
				}
			}
		}

		.menu {
			@include list();

			> li > .sub-menu {
				min-width: 235px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.current-menu-item > a,
		.current-menu-item > a:hover,
		.current-menu-item:hover > a,
		.current-menu-parent > a,
		.current-menu-parent > a:hover,
		.current-menu-parent:hover > a,
		.current-menu-ancestor > a,
		.current-menu-ancestor > a:hover,
		.current-menu-ancestor:hover > a {
			background: $palette-black;
		}

		.sub-menu {
			display: none;
			background: $palette-grey;
			padding: 0;
			position: absolute;
			z-index: 1002;
			font-size: $font-size-base;

			li,
			a {
				display: block;
			}

			.sub-menu {
				min-width: 200px;
				top: 0;
				left: 100%;
			}
		}

		@media (max-width: 1024px) {
			padding: 10px 0;

			nav {
				display: none;
			}
		}
	}
}
