.menu-open {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	@include size(50px, 40px);
	min-width: 40px;
	cursor: pointer;

	&__bar {
		display: block;
		@include size(100%, 7px);
		background-color: $palette-white;
		backface-visibility: hidden;
		transition: .2s;
	}

	@media (max-width: 1024px) {
		display: flex;
	}
}

.mobile-menu {
	background: $palette-grey-dark;
	min-width: 320px;
	height: 100%;
	height: calc(100% + 60px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	text-align: center;
	color: $palette-white;
	transform: translateY(-100%);
	transition: none;

	[data-menu-state="open"] & {
		transform: translateY(0);
		transition: transform .8s cubic-bezier(.77, .04, .98, .08);
	}

	nav {
		height: 100%;
		padding: 15% 0 120px;
		visibility: hidden;
		opacity: 0;
		overflow-y: auto;
		font-size: $font-size-large;
		font-weight: 700;
		text-transform: uppercase;
		transform: translateY(80px);
		transition: transform .5s 1s ease-out, visibility .5s 1s ease-out, opacity .5s 1s ease-out;

		[data-menu-state="open"] & {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
			transition-delay: 0;
		}
	}

	ul {
		@include list();
	}

	.menu-item a {
		display: block;
		padding: 10px 0;
		color: $palette-white;
	}

	&__close {
		display: block;
		width: 50px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		cursor: pointer;
		font-size: 4rem;
		font-weight: 700;
		text-align: center;
		color: $palette-white;
	}
}
