@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin list($style: none, $padding: 0, $margin: 0) {
	list-style: $style;
	padding: $padding;
	margin: $margin;
}

@mixin linx($link, $hover: $link, $visit: $link, $active: $hover) {
	color: $link;

	&:visited {
		color: $visit;
	}

	&:hover {
		color: $hover;
	}

	&:active {
		color: $active;
	}
}
