// Internal variables - used to set values
$x-color-white: #fff;
$x-color-black: #111;
$x-color-grey: #ddd;
$x-color-grey-light: #efefef;
$x-color-grey-dark: #333;
$x-color-blue: #0074d9;
$x-color-brown: #7f675b;
$x-color-pink: #ffeaee;
$x-color-red: #e62423;

// Global variables
$palette-white: $x-color-white;
$palette-black: $x-color-black;
$palette-grey: $x-color-grey;
$palette-grey-light: $x-color-grey-light;
$palette-grey-dark: $x-color-grey-dark;
$palette-red: $x-color-red;
$palette-primary: $x-color-blue;
$palette-secondary: $x-color-brown;
$palette-tertiary: $x-color-pink;

$font-family-primary: arial, helvetica, sans-serif;
$font-family-secondary: georgia, serif;

$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-tiny: 1.2rem;
$font-size-large: 2.4rem;
$font-size-paragraph: 1.8rem;
$font-size-title: 4rem;
$font-size-button: $font-size-base;

$line-height-base: 1.4;
$line-height-heading: 1.2;
